$av: "Avenir", sans-serif;
.footer {
  padding-bottom: 85px;
  padding-top: 110px;
  position: relative;
  overflow-y: hidden;
  &::before {
    content: "";
    position: absolute;
    width: calc(600px + 10%);
    height: calc(550px + 5%);
    border-radius: 50%;
    background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
    opacity: 0.3;
    filter: blur(70px);
    left: calc(-60px - 5%);
  }
  // wrap
  &__wrap {
    justify-content: space-between;
    align-items: flex-start;
  }
  // info
  &__info {
  }
  // logo
  &__logo {
    width: 82px;
    height: 17px;
    margin-bottom: 15px;
  }
  // text
  &__text {
    font-family: $av;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 19px;
    span {
      display: block;
    }
  }
  // date
  &__date {
    font-family: $av;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
  }
  // menu
  &__menu {
    font-family: $av;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
  }
  // link 
  &__link {
    position: relative;
    &:hover {
      &::before {
        width: 80%;
      }
    }
    &::before {
      content:"";
      position: absolute;
      bottom: 0;
      width: 0%;
      height: 2px;
      background-color: #fff;
      transition: all 1s ease;
    }
  }
  // item
  &__item {
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
